*.DS_Store
*-checkpoint.ipynb
~$*
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.pdf
*.snm
*.synctex(busy)
*.synctex.gz
*.toc
*.bcf
*.run.xml
# To ignore output files and others
*.h5
*.csv
